**.DS_Store
**.vscode
Lesson 3 - Engineering a Collision Detection System/Estimating TTC with Lidar/TTC_lidar/build
Lesson 2 - Autonomous Vehicles and Computer Vision/The OpenCV Library/OpenCV_exercises/build
Lesson 3 - Engineering a Collision Detection System/Estimating TTC with Camera/TTC_camera/build
Lesson 4 - Tracking Image Features/Intensity Gradient and Filtering/gradient_filtering/build
